body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121212;
    color: #fff;
}

header {
    background-color: #333;
    text-align: center;
    padding: 10px;
}

nav {
    background-color: #555;
    padding: 10px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s;
}

nav a:hover {
    color: #1DB954;
}

section {
    padding: 20px;
    background-color: #444;
    text-align: center;
}

section h2 {
    color: #1DB954;
}

table {
    display: flex;
    justify-content: center;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

@media screen and (max-width: 768px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin: 10px 0;
    }
}

@media screen and (max-width: 600px) {
    header h1 {
        font-size: 1.5em;
    }

    nav a {
        font-size: 14px;
    }
}