body{
    margin: 0;
    padding: 0;
    background-color: #121212;
}

.navhomepage{
    display: flex;
    background-color: black;
    justify-content: space-between;
    flex-basis: 100%;
    height: 100px;
    flex-shrink: 0;
    margin-bottom: 10px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.navheaderlogo{ 
    padding: 30px;
    width: 100px;
    margin-top: 5px;
}

.navlist{
    color: white;
    display: flex;
    gap: 10px;
    padding: 30px;
    margin-top: 10px;
}

.navanchor{
    text-decoration: none;
    color: white;
}

.navanchor:hover {
    color: #1ed760;;
}

main{
    min-height: 100vh;
}


footer{
    color: white;
    display: flex;
    background-color: black;
    height: 180px;
    flex-shrink: 0;
    justify-content: space-evenly;
}

li{
    list-style-type: none;
}
li>a{
    color: white;
    text-decoration: none;
}

.kolona1>li>a:hover{
    color: #1ed760;;
}
.kolona2>li>a:hover{
    color: #1ed760;;
}
.kolona3>li>a:hover{
    color: #1ed760;;
}

.footerbottom{
    color: white;
    display: flex;
    background-color: black;
    flex-shrink: 0;
    justify-content: center;
}

@media screen and (max-width: 600px){

    .navhomepage{
        display: flex;
        justify-content: center;
        flex-basis: 100%;
        height: 160px;
    }

    .navlist{
        display: flex;
        flex-direction: column;
        margin-top: 0;
    }

    .navheaderlogo{
        margin-top: 35px;
    }
    
    footer{
        display: flex;
        flex-basis: 100%;
    }

    .footerbottom{
        display: flex;
        justify-content: center;
        margin-bottom: 0;
    }

}
