body{
    margin: 0;
    padding: 0;
}

.navhomepage{
    display: flex;
    background-color: black;
    justify-content: space-between;
    flex-basis: 100%;
    height: 100px;
    flex-shrink: 0;
}

.navheaderlogo{ 
    padding: 30px;
    width: 100px;
    margin-top: 5px;
}

.navlist{
    color: white;
    display: flex;
    gap: 10px;
    padding: 30px;
    margin-top: 10px;
}

.navanchor{
    text-decoration: none;
    color: white;
}

.navanchor:hover {
    background-color: gray;
    height: 20px;
}


footer{
    color: white;
    display: flex;
    background-color: black;
    flex-basis: 100%;
    height: 180px;
    flex-shrink: 0;
    justify-content: space-evenly;
}

li{
    list-style-type: none;
}
li>a{
    color: white;
    text-decoration: none;
}



@media screen and (max-width: 600px){

    .navhomepage{
        display: flex;
        justify-content: center;
        flex-basis: 100%;
    }



}
