body{
    margin: 0;
}

/* Fillimi i kodit te stilizimit per header */
.headerlogin{
    display: flex;
    width: 100%;
    background-color: black;
    height: 100px;
    flex-grow: inherit;
    flex-shrink: inherit;
}

.hlogin{
    padding: 30px;
    width: 100px;
    margin-top: 5px;
}

@media only screen and (max-width: 600px) {
    header .headerlogin{
        display: flex;
        justify-content: center;
        width: 100%;
    }
} /* Fundi i kodit te stilizimit per header */

/*log in form fillimi */
main{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-grow: inherit;
    flex-shrink: inherit;
    background: linear-gradient(rgba(255, 255, 255, 0.1) 0%, rgb(0, 0, 0) 100%);
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.box{
    position: relative;
    border-radius: 5px;
    background: black;
    width: 600px;
    height: 600px;
    padding: 40px;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
}

.inputBox{
    padding: 9px;
    
}

#forgotpsw{
    padding-left: 65px;
}

#hr2{
    margin-top: 20px;
}

#loginid{
    width: 175px;
    height: 30px;
    border: 0px solid;
    border-radius: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #1DB954;
    color: black;
}

.inputclasses{
    background: #343434;
    color: white;
    border: 1px solid;
    border-radius: 3px;
    padding: 7px;
    border-color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

@media only screen and (max-width: 600px) {
    main{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
} /*log in form fundi */



/* footer fillimi */
footer{
    display: flex;
    justify-content: center;
    color: grey;
    background: black;
    flex-grow: inherit;
    flex-shrink: inherit;
    padding: 30px;
}


@media only screen and (max-width: 600px) {
    footer{
        display: flex;
        justify-content: center;
        width: 100%;
    }
} /* footer mbarimi */








