body{
    margin: 0;
    padding: 0;
}

/* Fillimi i kodit te stilizimit per header */
.headerlogin{
    display: flex;
    background-color: black;
    flex-basis: 100%;
    height: 100px;
    flex-shrink: 0;
}

.hlogin{
    padding: 30px;
    width: 100px;
    margin-top: 5px;
}/* Fundi i kodit te stilizimit per header */


/*log in form fillimi */
main{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(rgba(255, 255, 255, 0.1) 0%, rgb(0, 0, 0) 100%);
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    flex-shrink: 0;
}

.box{
    position: relative;
    border-radius: 5px;
    background: black;
    width: 600px;
    height: 600px;
    padding: 40px;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
}

.checkclass{
    padding-right: 62px;
    color: #f0f8ff;
}

#forgotpsw{
    padding-left: 70px;
}

#hr2{
    margin-top: 20px;
}

#loginid{
    width: 175px;
    height: 30px;
    border: 0px solid;
    border-radius: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #1DB954;
    color: black;
}

#psignup{
    color: grey;
}

.apswsignup{
    color: white;
}

.inputclasses{
    background: #343434;
    color: white;
    border: 1px solid;
    border-radius: 3px;
    padding: 7px;
    border-color: white;
} /*log in form fundi */


/* footer fillimi */
footer{
    display: flex;
    justify-content: center;
    color: grey;
    background: black;
    padding: 30px;
} /* footer mbarimi */


/*fillimi stilizimi per responsivitet */
@media screen and (max-width: 600px) {
    .headerlogin{
        display: flex;
        justify-content: center;
        flex-basis: 100%;
    }
    main{
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        background: black;
    }
    footer>p{
        display: flex;
        justify-content: center;
        flex-basis: 100%;
    }
} 
/* fundi stilizimit per responsivitet */

