body{
    margin: 0;
    padding: 0;
    background-color: #121212;
    font-family: sans-serif;
}

.navhomepage{
    display: flex;
    background-color: black;
    justify-content: space-between;
    flex-basis: 100%;
    height: 100px;
    flex-shrink: 0;
    margin-bottom: 10px;
}

.navheaderlogo{ 
    padding: 30px;
    width: 100px;
    margin-top: 5px;
}

.navlist{
    color: white;
    display: flex;
    gap: 10px;
    padding: 30px;
    margin-top: 10px;
    font-family: sans-serif;
}

.navanchor{
    text-decoration: none;
    color: white;
}

.navanchor:hover {
    color: #1ed760;;
}

.main1{
    min-height: 50vh;
    display: flex;
    justify-content: center;
    color: white;
}

.main2{
    display: flex;
    justify-content: center;
    min-height: 50vh;
    font-size: larger;
}

.lista1{
    list-style: none;
}

.anchorcl{
    text-decoration: none;
    color: #1ed760;
}

.anchorcl1{
    text-decoration: none;
    color: white;
}

.anchorcl1:hover {
    color: #1ed760;;
}

.footerbottom{
    background-color: black;
    display: flex;
    justify-content: center;
    color: white;
    width: 100%;
    height: 50px;
}



@media screen and (max-width: 600px){

    .navhomepage{
        display: flex;
        justify-content: center;
        flex-basis: 100%;
        height: 160px;
    }

    .navlist{
        display: flex;
        flex-direction: column;
        margin-top: 0;
    }

    .navheaderlogo{
        margin-top: 35px;
    }

    .footerbottom{
        display: flex;
        justify-content: center;
        margin-bottom: 0;
    }

}